node_modules
.DS_Store
.env
src/service_account.json
playground/service_account.json
package-lock.json
md-output.pdf
playground/matrix-pixel/.venv/
playground/matrix-pixel/__pycache__/
**/log.txt
**/state.json